{% extends 'CoreLABSBundle:default:admin.base.html.twig' %}

{% block title %}CoreLABS - Manage users{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12 panel-header" >
                <span class="h1">CoreLABS Users</span>
            </div>
            <div class="col-sm-12 user-search-cont">
                <form class="form-inline" method="get" action="{{ path("manage_users")}}">
                    <div class="form-group">
                        <label for="searchtypeselect">Search by:</label>
                        <select class="form-control"  id="searchtypeselect" name="s_type">
                            {% for key,s_type in s_types %}
                                <option value="{{ key }}" {{ s_type.sel|default('') }}>{{ s_type.txt }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="s_key" value="{{ s_key|e }}"/>
                    </div>
                    <button type="submit" class="btn btn-default">Search</button>
                </form>
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>User Name</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td>{{ user.getUsername }}</td>
                                        <td>{{ user.getFullName }}</td>
                                        <td>{{ user.getEmail }}</td>
                                        <td>{{ user.getPhone }}</td>
                                        <td><a href="{{ path('user_details',{'id': user.getID|url_encode() }) }}" class="btn btn-info btn-sm" role="button">Details</a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div>
                        <span>Displaying {{ users|length }} result(s)</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascript %}
    {{ parent() }}
{% endblock %}   
 
